html {
    position: relative;
    min-height: 100%;
}

main {
    position: relative;
}

:root {
    --white: #ffffff;
    --green: #49d049;
    --dark-gray: #222222;
    --brown: #d9b38c;
    --brown-transparent: rgba(171, 141, 111, 0.69);
    --gold: #ffeb7d;
    --med-gray: #666;
    --bg-primary: #fffff0;
    --bg-primary-transparent: #fffff099; /* increase opacity to cover background */
    --bg-secondary: #ffffff;
}

.logo {
    font-family: 'Architects Daughter', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: left;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: var(--bg-primary);
    color: var(--dark-gray);
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

form {
    padding: 2rem 2rem 1rem;
    margin: 0 1rem;
    background: var(--brown);
    box-shadow: #44444499 0 0 .25rem;
}

textarea {
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus,
.btn-primary:active:focus, .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: var(--green);
    border-color: var(--white);
    border-width: medium;
}

.btn:focus, .btn:active, .btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--brown-transparent);
}

a:link, a:visited {
    color: var(--green);
}

a:hover, a:active {
    color: var(--brown);
}