nav {
    min-height: 3rem;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
}

#search-bar {
    border-radius: 2rem;
    height: 1.8rem;
    padding: 0 .8rem 0;
}