body {
    position: relative;
    background-image: url("../images/login/garden.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--bg-primary-transparent);
    background-size: cover;
}

.center-me {
    display: flex;
    justify-content: center;
}

.form-signin {
    padding: 2rem 2rem 1rem;
    margin: 0 1rem 2rem;
    height: 68vh;
}

.carousel .carousel-indicators li {
    background-color: #999999a0;
}

.carousel .carousel-indicators .active {
    background-color: #666;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item img {
    height: 68vh;
}

.carousel-item h5 {
    color: #eee;
    text-shadow: 0 0 .8vh #222222ff;
}